node_modules/
eggz-wrtc.pem
package-lock.json
server_simple-client.js
simple_client.js
simple_server.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

